body{
    margin: 0px;
    padding: 0px;
}

.container{
    margin: 50px;
}

.row{
    margin: 20px;
}

input{
    width: 600px;
    height: 40px;
}

.col-6 button{
    width: 150px;
    height: 40px;
    color: white;
    background-color: rgb(21, 21, 89);
    border: 1px solid rgb(21, 21, 89);
    border-radius: 10px;
}